.modal {
  .modal-backdrop {
    background-color: $modal-backdrop-color-no-filter;
    @supports (backdrop-filter: $modal-backdrop-filter) {
      background-color: $modal-backdrop-color;
      backdrop-filter: $modal-backdrop-filter;
    }
  }
  .modal-dialog {
    margin: 2em 1em;
    padding: 3em 2em;
    border-radius: $modal-border-radius;
    background-color: $modal-bg-color;
    box-shadow: $modal-box-shadow;
    // align-self: center;
  }
}
