// Brand colors
$brand-primary: #3ECF8E;
$brand-secondary: #283352;

// Text
$text-color: $brand-secondary;

// Types
$line-height-base: 1.5;
$font-family-base: "Avenir Next", "Roboto", sans-serif;
$font-weight-base: normal;
$font-size-base: 1em; // iOS zooms the page to show a larger input field if its font-size is less than 16px/1em.
$font-size-sm: .8em;
$font-size-xs: .6em;

// Modal overrides
$z-index-modal-backdrop: 20;
$z-index-modal-dialog: 30;

$modal-backdrop-color: rgba(black, .4);
$modal-backdrop-color-no-filter: rgba($modal-backdrop-color, .65);
$modal-backdrop-filter: saturate(200%) blur(4px);

$modal-dialog-margin: 2em 1em;
$modal-dialog-padding: 1em 2em;
$modal-dialog-bg-color: darken(white, 2%);
$modal-dialog-border-radius: 1px;
$modal-dialog-box-shadow: 0 .4rem 1rem rgba(black, .3);

$modal-close-color: #777777;
$modal-close-font-size: 16px;
$modal-close-button-size: 30px;
$modal-close-margin: 4px;
$modal-close-border-radius: 50%;
$modal-close-bg-color-hover: darken($modal-dialog-bg-color, 5%);
