
// Brand colors
$brand-primary: #3ECF8E;
$brand-secondary: #283352;

// Text
$text-color: $brand-secondary;

// Types
$line-height-base: 1.5;
$font-family-base: "Avenir Next", "Roboto", sans-serif;
$font-weight-base: normal;
$font-size-base: 1em; // iOS zooms the page to show a larger input field if its font-size is less than 16px/1em.
$font-size-sm: .8em;
$font-size-xs: .6em;
