///
/// enter active
///
.modal-enter-active {
  transition-duration: max($modal-enter-backdrop-transition-duration, $modal-enter-dialog-transition-duration);
  > .modal-backdrop {
    transition: opacity $modal-enter-backdrop-transition-duration $modal-enter-backdrop-transition-timing;
  }
  > .modal-dialog {
    transition: transform $modal-enter-dialog-transition-duration $modal-enter-dialog-transition-timing;
  }
}

///
/// enter from
///
.modal-enter {
  > .modal-backdrop {
    opacity: 0 !important;
  }
  > .modal-dialog {
    transform: translateY(100vh) !important;
  }
}

///
/// enter to
///
// .modal-enter-to {
//   > .modal-backdrop {
//     opacity: 1;
//   }
//   > .modal-dialog {
//     transform: translateY(0vh);
//   }
// }

///
/// leave active
///
.modal-leave-active {
  transition-duration: max($modal-leave-backdrop-transition-duration, $modal-leave-dialog-transition-duration);
  > .modal-backdrop {
    transition: opacity $modal-leave-backdrop-transition-duration $modal-leave-backdrop-transition-timing;
  }
  > .modal-dialog {
    transition: transform $modal-leave-dialog-transition-duration $modal-leave-dialog-transition-timing;
  }
}

///
/// leave from
///
// .modal-leave {
//   > .modal-backdrop {
//     opacity: 1;
//   }
//   > .modal-dialog {
//     transform: translateY(0vh);
//   }
// }

///
/// leave to
///
.modal-leave-to {
  > .modal-backdrop {
    opacity: 0 !important;
  }
  > .modal-dialog {
    transform: translateY(100vh) !important;
  }
}
