// Backdrop
$modal-backdrop-color: rgba(black, 0.2) !default;
// $modal-backdrop-filter: saturate(200%) blur(4px) !default; // Causes performance issue on Google Chrome
$modal-backdrop-filter: none !default;

// Dialog
$modal-dialog-margin-y: 2rem !default;
$modal-dialog-margin-x: 1rem !default;
$modal-dialog-margin: $modal-dialog-margin-y $modal-dialog-margin-x !default;
$modal-dialog-margin-overscroll: 1rem !default;
$modal-dialog-border-radius: 1rem !default;
$modal-dialog-background-color: darken(white, 2%) !default;
$modal-dialog-box-shadow: 0 0 1rem rgba(black, 0.25) !default;

// Close button
$modal-close-font-size: 1rem !default;
$modal-close-button-size: 2.5rem !default;
$modal-close-margin: 1rem !default;
$modal-close-border-radius: 50% !default;
$modal-close-color: hsla(0, 0%, 10%, 0.9) !default;
$modal-close-background-color: hsla(0, 0%, 90%, 0.9) !default;
$modal-close-background-color-hover: hsla(0, 0%, 75%, 0.9) !default;
// $modal-close-backdrop-filter: saturate(200%) blur(3px) !default;
$modal-close-backdrop-filter: none !default;

// Breakpoints
$modal-breakpoint-xs: 576px !default;
$modal-breakpoint-sm: 768px !default;
$modal-breakpoint-md: 992px !default;
$modal-breakpoint-lg: 1200px !default;
$modal-breakpoint-xl: 1900px !default;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  backdrop-filter: $modal-backdrop-filter;

  &-align-start {
    align-items: flex-start;
  }

  &-scroll-lock {
    overflow: hidden;
  }

  // &-will-close {
  //   position: absolute;
  //   top: 2rem;
  //   right: 0;
  //   left: 0;
  //   color: white;
  //   text-align: center;
  // }

  &-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $modal-backdrop-color;
  }

  &-dialog {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    margin: $modal-dialog-margin;
    background-color: $modal-dialog-background-color;
    border-radius: $modal-dialog-border-radius;
    box-shadow: $modal-dialog-box-shadow;
    overflow: hidden;

    &-container {
      min-height: $modal-close-button-size + ($modal-close-margin * 2);
      max-height: calc(100vh - #{$modal-dialog-margin-y * 2});
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }

    &-close {
      position: absolute;
      z-index: 20;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: $modal-close-margin;
      padding: 0;
      width: $modal-close-button-size;
      height: $modal-close-button-size;
      border: 0 none;
      border-radius: $modal-close-border-radius;
      font-size: $modal-close-font-size;
      line-height: $modal-close-button-size;
      color: $modal-close-color;
      background-color: $modal-close-background-color;
      backdrop-filter: $modal-close-backdrop-filter;
      cursor: pointer;
      transition: all 250ms ease;
      &:hover {
        opacity: 1;
        text-decoration: none;
        background-color: $modal-close-background-color-hover;
      }
      .icon {
        display: block;
        width: $modal-close-button-size * 0.3;
        height: $modal-close-button-size * 0.3;
        color: $modal-close-color;
        stroke: $modal-close-color;
        fill: $modal-close-color;
      }
    }
  }
  &-title {
    line-height: $modal-close-button-size;
    font-size: $modal-close-button-size;
  }
  &-fullscreen {
    .modal-dialog {
      margin: 0;
      height: 100%;
      max-height: none;
      border-radius: 0;
      &-container {
        max-height: none;
        height: 100%;
      }
    }
  }
  &-xs {
    .modal-dialog {
      max-width: $modal-breakpoint-xs;
    }
  }
  &-sm {
    .modal-dialog {
      max-width: $modal-breakpoint-sm;
    }
  }
  &-md {
    .modal-dialog {
      max-width: $modal-breakpoint-md;
    }
  }
  &-lg {
    .modal-dialog {
      max-width: $modal-breakpoint-lg;
    }
  }
  &-xl {
    .modal-dialog {
      max-width: $modal-breakpoint-xl;
    }
  }
}

@media (max-width: $modal-breakpoint-xs) {
  .modal {
    align-items: flex-end;
    &-dialog {
      margin: $modal-dialog-margin-y 0 0 0;
      height: calc(100% - #{$modal-dialog-margin-y});
      border-radius: $modal-dialog-border-radius $modal-dialog-border-radius 0 0;
      &-container {
        height: 100%;
        max-height: none;
      }
    }
  }
}
