// Z-index
$z-index-modal-backdrop: 20 !default;
$z-index-modal-dialog: 30 !default;

// Modal
$modal-backdrop-color: rgba(black, .4) !default;
$modal-backdrop-color-no-filter: rgba($modal-backdrop-color, .65) !default;
$modal-backdrop-filter: saturate(200%) blur(4px) !default;

$modal-dialog-margin: 2em 1em !default;
$modal-dialog-padding: 1em 2em !default;
$modal-dialog-bg-color: darken(white, 2%) !default;
$modal-dialog-border-radius: 1px !default;
$modal-dialog-box-shadow: 0 .4rem 1rem rgba(black, .3) !default;

$modal-close-color: #777777 !default;
$modal-close-font-size: 16px !default;
$modal-close-button-size: 30px !default;
$modal-close-margin: 4px !default;
$modal-close-border-radius: 50% !default;
$modal-close-bg-color: transparent !default;
$modal-close-bg-color-hover: darken($modal-dialog-bg-color, 5%) !default;

.modal {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 100%;
  min-height: 100vh; // To make sure to not trigger an address bar change from Safari iOS
  &-backdrop {
    position: fixed;
    z-index: $z-index-modal-backdrop;
    // Extends the backdrop out of the viewport against overscroll visual glitch on Chrome
    top: -100px;
    right: -100px;
    bottom: -100px;
    left: -100px;
    background-color: $modal-backdrop-color-no-filter;
    @supports (backdrop-filter: $modal-backdrop-filter) {
      background-color: $modal-backdrop-color;
      backdrop-filter: $modal-backdrop-filter;
    }
  }
  &-dialog {
    position: relative;
    z-index: $z-index-modal-dialog;
    box-sizing: border-box;
    margin: $modal-dialog-margin;
    padding: $modal-dialog-padding;
    height: 100%;
    border-radius: $modal-dialog-border-radius;
    background-color: $modal-dialog-bg-color;
    box-shadow: $modal-dialog-box-shadow;
    &-close {
      position: absolute;
      top: 0;
      right: 0;
      width: $modal-close-button-size;
      height: $modal-close-button-size;
      margin: $modal-close-margin;
      border-radius: $modal-close-border-radius;
      font-size: $modal-close-font-size;
      line-height: $modal-close-button-size;
      text-align: center;
      color: $modal-close-color;
      background-color: $modal-close-bg-color;
      opacity: .4;
      cursor: pointer;
      transition: all 250ms ease;
      &::before {
        content: "✕";
      }
      &:hover {
        opacity: 1;
        text-decoration: none;
        background-color: $modal-close-bg-color-hover;
      }
    }
  }
}
