@import 'variables';

@import 'modal';
@import 'modal_animations';

html, body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $text-color;
}

h1 {
  small {
    display: block;
    font-size: 60%;
    font-weight: normal;
  }
}
