@import 'index';

// Text
$text-color: hsl(224, 34%, 4%);

// Types
$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$font-weight-base: normal;
$line-height-base: 1.5;
$font-size-base: 1em;

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: white;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.container {
  margin: 0 auto;
  max-width: $modal-breakpoint-md;
}
.content {
  padding: 1rem;
}
.section {
  margin: 3em 0;
}
.lead {
  font-size: 1.4em;
}
h1 {
  margin: 1em 0;
  font-size: 3em;
  small {
    display: block;
    font-size: 60%;
    font-weight: normal;
  }
}
.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  &-lazy {
    opacity: 0;
    transition: opacity 450ms ease;
    &.loaded {
      opacity: 1;
    }
  }
}
.button {
  cursor: pointer;
  margin: 0;
  padding: 0.75rem 1.5rem;
  border: 0 none;
  border-radius: 0.25rem;
  background-color: $text-color;
  color: white;
  font-size: inherit;
  text-transform: uppercase;
  @media (hover: hover) {
    &:hover {
      background-color: rgba($text-color, 0.9);
    }
  }
  &:active {
    background-color: rgba($text-color, 0.8);
  }
  &:disabled {
    opacity: 0.4;
  }
  &-list {
    margin: -0.25rem;
    > .button {
      margin: 0.25rem;
    }
  }
}
.modal-dialog-container {
  > aside {
    background-color: rgba($text-color, 0.1);
    height: 320px;
  }
  > header {
    margin: 1rem;
    h1 {
      margin: 0;
      font-size: 2em;
    }
  }
  > main {
    margin: 1rem;
  }
  > footer {
    margin: 2rem 1rem;
  }
}
.modal-fullscreen {
  .modal-dialog-container {
    > aside {
      height: 65vh;
    }
  }
}
